<mat-toolbar color="primary">
  <div fxHide.gt-xs>
      <button mat-icon-button (click)="onToggleSidenav()">
          <mat-icon>menu</mat-icon>
      </button>
  </div>
  <div>
      <a routerLink="/home"> Biblioteca </a>
  </div>
  <div >
      <ul style="display: flex; justify-content: flex-end" class="navigation-items">
          <li style=" margin-right: 15px;">
              <a routerLink="/sections"> Secciones </a>
          </li>
          <li>
              <a routerLink="/books">  Libros </a>
          </li>
      </ul>
  </div>
</mat-toolbar>